<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center">
      <%= image_tag('kino_logo.png', :class => "logo-img") %>
    </div>
  </div>
</div>

<h1>Фильмы</h1>

<div class="row buffer-bottom">
  <%= render partial: 'films/film', collection: @films %>
</div>


