<div class="text-center">
  <%= image_tag('kino_logo.png', :class => "logo-img") %>
</div>

<div class="buffer-both">
  <%= link_to 'Добавить фильмы', get_films_path, class: 'btn btn-success' %>
</div>




<h1>Топ-10</h1>

<div class="row buffer-bottom">
  <%= render partial: 'films/film', collection: @films %>
</div>


