<div class="buffer-both">
  <%= link_to 'Добавить фильмы', root_path, class: 'btn btn-success' %>
</div>

<h1>Топ-10</h1>

<div class="row buffer-bottom">
  <%= render partial: 'films/film', collection: @films %>
</div>


