<div class="row">
  <div class="col-md-4">
    <p><%= image_tag film_poster(@film) %></p>
  </div>
  <div class="col-md-8">
    <h1><%= @film.title %></h1>
    <p>Режиссер: <%= @film.director %></p>
    <p>Год: <%= @film.year %></p>
  </div>
</div>

